@require './colorconfig.styl'
@require '~vuetify/src/stylus/main.styl'

.pagination__item--active {
  background-color: blue;
  color: white;
}
.lowkey_link {
  &:hover {
    cursor: pointer;
  }
}

.cursive {
  font-family: 'Great Vibes', cursive;
}

a { 
  color: inherit;
}

.table tr:not(:last-child) {
    border-bottom: 1px solid rgba(0,0,0,.12);
}