@require '~vuetify/src/stylus/settings/_colors'

$theme := {
  // primary: #9c27b0 // purple
  primary: $blue.base
  // accent: #ce93d8 // lighter purple
  accent: $light-blue.base
  secondary: #424242 // grey
  info: #0D47A1 // dark blue
  warning: #ffb300 // yellow
  error: #B71C1C // blood red
  success: $green.accent-3
}

@require '~vuetify/src/stylus/main.styl'

.pagination__item--active {
  background-color: blue;
  color: white;
}
.lowkey_link {
  &:hover {
    cursor: pointer;
  }
}

.cursive {
  font-family: 'Great Vibes', cursive;
}

a { 
  color: inherit;
}

.table tr:not(:last-child) {
    border-bottom: 1px solid rgba(0,0,0,.12);
}