@require './colorconfig.styl'
@require '~vuetify/src/stylus/main.styl'

html {
  background-color: $grey.darken-4;
}

body {
  position: relative;
  background-image: url('../assets/samuel-ferrara-136526.jpg');
  background-size: cover;
  background-attachment: fixed;
}
.application--light {
  background: rgba(0,0,0,0.8);
  toolbar {
    background: white;
  }
}
.pagination__item--active {
  background-color: blue;
  color: white;
}
.lowkey_link {
  text-decoration: none;
  color: inherit;
  &:hover {
    cursor: pointer;
  }
}

.cursive {
  font-family: 'Great Vibes', cursive;
}

a { 
  color: inherit;
}

.table tr:not(:last-child) {
    border-bottom: 1px solid rgba(0,0,0,.12);
}