@require '~vuetify/src/stylus/settings/_colors'

$main = $grey

$theme := {
  // primary: #9c27b0 // purple
  // primary: $blue.base
  primary: $main.darken-4
  // accent: #ce93d8 // lighter purple
  accent: #e45e30 // Reece Distributing Orange
  secondary: $blue-grey.darken-4 // grey
  info: $grey.darken-4 // dark-grey
  warning: #ffb300 // yellow
  error: #B71C1C // blood red
  success: $blue.accent-3
}